.bodyom {
  background-image: url("../assets/bg1.webp");
  background-size: contain;
  background-repeat: repeat-y;
}

video {
  margin-top: -5%;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 47px;
  padding: 10px;

  height: 300px;
  background-color: var(--prime-white);
  border: 1px solid var(--prime-sand);
}

.middle h2 {
  font-family: var(--font-third);
  color: var(--prime-sand);
  font-size: 34px;
  padding-left: 5%;
  margin-top: 5%;
  line-height: 115%;
}

.middle p {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 16px;
  padding-left: 5%;
  padding: 0 5px;
  line-height: 115%;
}

/* lister */
.notelist-container {
  display: flex;
  justify-content: center; /* Centrerer horisontalt */
  align-items: center; /* Centrerer vertikalt */
  width: 100vw;
  height: auto;
  overflow-wrap: break-word;
}
.notelist {
  height: 100vh;
  background-image: url("../assets/note-one.png");
  filter: drop-shadow(0 0 5px #035470);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 75%; /* Eller en fast bredde som 200px */

  margin-top: 47px;
}

.notelist h2 {
  font-family: var(--font-third);
  color: var(--prime-sand);
  font-size: 24px;
  margin-left: 8%;
  margin-top: 20%;
}
.notelist p {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 16px;
  margin-left: 8%;
  margin-top: 1rem;
  padding: 10px 0;
  line-height: 145%;
}
.notelist h3 {
  font-family: var(--font-third);
  color: var(--prime-sand);
  font-size: 24px;
  margin-left: 8%;
  line-height: 115%;
}
.notescontainer {
  justify-content: center;

  gap: 2rem;
  height: fit-content;
  height: 100%;
}
@media (min-width: 1100px) {
  .notescontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    height: 100%;
  }
  .notelist-container {
    height: auto;
    overflow-wrap: break-word;
  }
  .middle {
    height: 400px;
    width: 70%;
  }
  .middle p {
    line-height: 150%;
  }
  video {
    margin-top: -20%;
  }
  .middle h2 {
    margin-top: 25%;
  }
}
