.bodytema_2 {
  background-image: url("/assets/Firefly_Gemini\ Flash_seamless\ repeating\ background.\ \ 718004.png");
  background-size: cover;
  background-repeat: repeat-y;
}

.assignment-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-auto-flow: row;
  height: auto;
  background-color: var(--prime-white);
  width: 80%;
  margin: 0 auto;
  height: fit-content;
  padding: 5px;

  padding-bottom: 10%;
  margin-bottom: 47px;
  background-color: var(--prime-white);
  border: 1px solid var(--prime-sand);
  position: relative;
  grid-row-gap: 20px;
  grid-column-gap: 5rem;
}

.assignment-container p {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 18px;
  padding: 5%;
  line-height: 105%;
}

.item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.item-1 h2 {
  font-family: var(--font-third);
  color: var(--prime-sand);
  font-size: 24px;
}
.item-1 p {
  font-size: 16px;
}

.item-2 {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

.item-3 {
  grid-column: 3;
  grid-row: 1 / 3;
}

.item-4 {
  grid-column: 3;
  grid-row: 3 / 5;
}

.assignment-container img {
  height: 150px;
  width: 150px;
  display: block;
}

.overlay {
  position: absolute;

  color: var(--prime-blue);
  font-size: 14px;

  border-radius: 5px;
}

.middle .studieimg {
  width: 100%;
}

.middle img:hover {
  filter: opacity(1);
  transform: perspective(0px) translateZ(0px);
}

/*responsiv*/
@media (min-width: 680px) {
  .assignment-container {
    width: 60%;
  }
}
