.container-four {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  padding: 10px;
  padding-bottom: 5%;
  margin-bottom: 47px;
  margin-top: 47px;
}
.container-four h2 {
  font-family: var(--font-third);
  color: var(--prime-sand);
  font-size: 24px;
  margin-left: 5%;
  margin-top: 5%;
  line-height: 115%;
}
.container-four h4 {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 24px;
  margin-left: 5%;
  line-height: 105%;
  padding-top: 1rem;
}
.container-four p {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 18px;
  margin-left: 5%;

  line-height: 105%;
}

.infocard_one {
  margin-top: 1rem;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  padding: 10px;
  padding-bottom: 5%;
  margin-bottom: 47px;
  margin-top: 26px;
  background-color: var(--prime-white);
  border: 1px solid var(--prime-sand);
}

.infocard {
  display: flex;
  float: right;

  margin-top: 1rem;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  padding: 10px;
  padding-bottom: 5%;
  margin-bottom: 47px;
  margin-top: 47px;
  background-color: var(--prime-white);
  border: 1px solid var(--prime-sand);
}
.infocard img {
  width: 200px;
}

.info-container p {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 18px;
  margin-left: 5%;
  line-height: 105%;
}

.infocard p {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 18px;
  margin-left: 5%;
  line-height: 105%;
}

.infocard_two {
  display: flex;
  float: right;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  padding: 10px;
  padding-bottom: 5%;
  margin-bottom: 47px;
  margin-top: 47px;
  background-color: var(--prime-white);
  border: 1px solid var(--prime-sand);
}

.infocard_two img {
  width: 300px;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
}

.middle h2 {
  font-family: var(--font-third);
  color: var(--prime-sand);
  font-size: 24px;
  margin-left: 5%;
  margin-top: 5%;
  line-height: 115%;
}

.middle h4 {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 24px;
  margin-left: 5%;
  line-height: 105%;
  padding-top: 1rem;
}

.middle p {
  font-family: var(--font-secondary);
  color: var(--prime-blue);
  font-size: 18px;
  margin-left: 5%;
  line-height: 105%;
}
